<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>120994149456-516rculhr0m3rg6dv0iabos1086rm9rr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.120994149456-516rculhr0m3rg6dv0iabos1086rm9rr</string>
	<key>API_KEY</key>
	<string>AIzaSyBX00NytUuV4UcOw0HpJhZvecQKpHeoKak</string>
	<key>GCM_SENDER_ID</key>
	<string>120994149456</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wordsearch</string>
	<key>PROJECT_ID</key>
	<string>wordsearch-a6b8c</string>
	<key>STORAGE_BUCKET</key>
	<string>wordsearch-a6b8c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120994149456:ios:ee11ebd3e32defa0f90d55</string>
	<key>DATABASE_URL</key>
	<string>https://wordsearch-a6b8c.firebaseio.com</string>
</dict>
</plist>